attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.5
docutils==0.22.4
filelock==3.25.1
ipython==9.6.0
ipywidgets==8.1.7
joblib==1.5.2
keyring==25.7.0
matplotlib==3.10.8
minio==7.2.20
numpy==2.4.3
pandas==3.0.1
Pillow==12.1.1
protobuf==7.34.0
pyOpenSSL==25.3.0
PyYAML==6.0.3
redis==7.3.0
scikit_learn==1.8.0
Sphinx==9.1.0
thread==2.0.6
torch==2.9.1
transformers==4.57.3
ultralytics==8.4.21
urllib3_secure_extra==0.1.0
lap==0.5.12
pyexiftool==0.5.6
